$main-bg-color: #212437;
$main-bg-color-light: #292c43;
$main-bg-color-dark: #171721;
$main-text-color: #f5f5fa;
$main-loading-color: #e4e6e8;

$primary-color: #19c37d;
$warning-color: #f7b500;
$danger-color: #ef4146;

@mixin skeleton {
  background: $main-loading-color
    linear-gradient(100deg, rgba(255, 255, 255, 0) 40%, $main-text-color 50%, rgba(255, 255, 255, 0) 60%);
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s loading ease-in-out infinite;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
